#textdomain wesnoth-Eastern_Europe_at_War
[unit_type]
    id=ru Voivode
    name= _ "Voivode"
    race=Russians
    gender=male
    image="units/Russians/voivode.png"
    ellipse="misc/ellipse"

    hitpoints=55
    movement_type=smallfoot
    movement=5
    experience=80
    level=2
    alignment=neutral
    advances_to=ru Knyaz
    cost=12
    usage=fighter
    description= _ "."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [defense]
        sand=70
        frozen=60
    [/defense]
    [movement_costs]
        frozen=1
    [/movement_costs]
    {EEAW_ANIM_DEFENSE () () {SOUND_LIST:HUMAN_OLD_HIT}}
    [attack]
        name=saber
        description=_"saber"
        type=blade
        range=melee
        damage=10
        number=3
        icon=attacks/saber-human.png
    [/attack]
    [attack]
        name=pistol
        description=_"pistol"
        type=pierce
        range=ranged
        damage=10
        number=1
        icon=attacks/thunderstick.png
    [/attack]
    {SABER_SOUND}
    {PISTOL_SOUND}
    [abilities]
        {ABILITY_LEADERSHIP}
    [/abilities]
[/unit_type]
