#textdomain wesnoth-Eastern_Europe_at_War
[unit_type]
    id=pr Yacht
    name= _ "Yacht"
    race=eeawship
    image="units/Turks/fusta.png~SCALE(60,60)"
    ellipse="misc/ellipse"

    hitpoints=30
    movement_type=swimmer
    movement=7
    vision=10
    experience=40
    level=1
    alignment=lawful
    advances_to=pr Great Yacht
    cost=18
    usage=fighter
    description= _ "."

    {EEAW_ANIM_SHIP}
    [defense]
        flat=80
        sand=80
        forest=80
        hills=80
        mountains=80
        village=80
        castle=80
        frozen=80
        swamp_water=60
    [/defense]
    [movement_costs]
        flat=4
        sand=4
        forest=5
        hills=5
        village=4
        castle=5
        cave={UNREACHABLE}
        frozen=5
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        fungus=5
        swamp_water=3
    [/movement_costs]
    [resistance]
        blade=40
        pierce=40
    [/resistance]

    [attack]
        name=musket
        description= _ "muskets"
        type=pierce
        range=ranged
        damage=6
        number=4
        icon=attacks/thunderstick.png
        [specials]
            {WEAPON_SPECIAL_SWARM}
        [/specials]
    [/attack]
    [attack]
        name=cannonnaval
        description= _ "small cannons"
        type=impact
        range=ranged
        damage=8
        number=2
        icon=attacks/thunderstick.png
        [specials]
            {WEAPON_SPECIAL_EEAWNAVAL}
            {WEAPON_SPECIAL_EEAW_STUN}
        [/specials]
    [/attack]
    [attack]
        name=cannonnaval
        description= _ "cannon"
        type=impact
        range=ranged
        damage=20
        number=1
        icon=attacks/thunderstick.png
        [specials]
            {WEAPON_SPECIAL_EEAWNAVAL}
            {WEAPON_SPECIAL_EEAW_STUN}
        [/specials]
    [/attack]

    [abilities]
        {ABILITY_EEAWNAVAL}
    [/abilities]

    {PISTOL_SOUND}
    {DZIALOOKRET_SOUND}
[/unit_type]
