#textdomain wesnoth-Eastern_Europe_at_War
[unit_type]
    id=tu Desert Veteran
    name= _ "Desert Veteran"
    image="units/Turks/desert-veteran.png"
    ellipse="misc/ellipse"

    race=Turks
    hitpoints=50
    movement_type=mounted
    movement=7
    experience=60
    level=2
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=16
    usage=scout
    description= _ "."
    die_sound=human-die-1.ogg
    [movement_costs]
        sand=1
        hills=1
    [/movement_costs]
    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=100
    [/resistance]
    [defense]
        hills=40
        sand=40
    [/defense]
    [attack]
        name=saber
        description=_"saber"
        icon=attacks/saber-human.png
        type=blade
        range=melee
        damage=10
        number=2
    [/attack]
    [attack]
        name=musket
        description= _ "musket"
        type=pierce
        range=ranged
        damage=20
        number=1
        icon=attacks/thunderstick.png
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    {PISTOL_SOUND}
    {SABER_SOUND}
[/unit_type]
