#textdomain wesnoth-Eastern_Europe_at_War
[unit_type]
    id=tu Heavy Cannon
    name= _ "Heavy Cannon"
    race=mechanical
    image="units/Turks/heavy-cannon.png"
    ellipse="misc/ellipse"

    hitpoints=45
    movement_type=armoredfoot
    movement=4
    experience=70
    level=2
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=20
    usage=archer
    description= _ "."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {EEAW_ANIM_DEFENSE () () {SOUND_LIST:HUMAN_OLD_HIT}}
    {EEAW_FORTIFY_ANIM}
    [abilities]
        {ABILITY_EEAW_FORTIFY}
    [/abilities]
    [attack]
        name=cannon
        description=_"heavy bombardment"
        type=impact
        range=ranged
        damage=10
        number=3
        icon=attacks/thunderstick.png
        [specials]
            {WEAPON_SPECIAL_EEAW_NOCOUNTER}
            {WEAPON_SPECIAL_EEAW_STUN}
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_EEAW_WEAKERSHOTS 0 2}
        [/specials]
    [/attack]
    [attack]
        name=cannon
        description=_"cannon"
        type=impact
        range=ranged
        damage=40
        number=1
        icon=attacks/thunderstick.png
        [specials]
            {WEAPON_SPECIAL_EEAW_NOCOUNTER}
            {WEAPON_SPECIAL_EEAW_CANNONHILL}
            {WEAPON_SPECIAL_EEAW_STUN}
        [/specials]
    [/attack]
    {DZIALO_SOUND}
    [resistance]
        blade=100
        pierce=100
        impact=100
    [/resistance]
    [defense]
        hills=40
        castle=40
        village=50
        forest=-80
        fungus=-80
    [/defense]
    [movement_costs]
        hills=2
    [/movement_costs]
[/unit_type]
