#textdomain wesnoth-Eastern_Europe_at_War
[unit_type]
    id=tu Janissary Aga
    name= _ "Janissary Aga"
    race=Turks
    gender=male
    image="units/Turks/janissary-aga.png"
    ellipse="misc/ellipse"

    hitpoints=47
    movement_type=smallfoot
    movement=5
    experience=80
    level=2
    alignment=lawful
    advances_to=tu Grand Janissary Aga,tu Dey
    cost=16
    usage=fighter
    description= _ "."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [defense]
        sand=40
        frozen=70
        flat=50
    [/defense]
    [resistance]
        blade=80
        pierce=90
    [/resistance]
    [movement_costs]
        frozen=3
    [/movement_costs]
    {EEAW_ANIM_DEFENSE () () {SOUND_LIST:HUMAN_OLD_HIT}}
    [attack]
        name=jatagan
        description=_"yatagan"
        type=blade
        range=melee
        damage=7
        number=4
        icon=attacks/sword-human-short.png
    [/attack]
    [attack]
        name=spear
        description=_"spear"
        type=pierce
        range=melee
        damage=25
        number=1
        icon=attacks/spear.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=musket
        description=_"musket"
        type=pierce
        range=ranged
        damage=20
        number=1
        icon=attacks/thunderstick.png
    [/attack]
    {PISTOL_SOUND}
    {RAPIER_SOUND}
    {SPEAR_SOUND}
    [abilities]
        {ABILITY_LEADERSHIP}
    [/abilities]
[/unit_type]
