#textdomain wesnoth-Eastern_Europe_at_War
[unit_type]
    id=tu Mehterane
    name= _ "Mehterane"
    race=Turks
    gender=male
    image="units/Turks/mehterane.png"

    hitpoints=30
    movement_type=smallfoot
    movement=5
    experience=100
    {AMLA_DEFAULT}
    level=0
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=10
    {TRAIT_FEARLESS_MUSTHAVE}
    usage=fighter
    description= _ "."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [defense]
        sand=40
        frozen=70
    [/defense]
    [movement_costs]
        frozen=3
        sand=1
    [/movement_costs]
    {EEAW_ANIM_DEFENSE () () {SOUND_LIST:HUMAN_OLD_HIT}}
    [attack]
        name=kindzal
        description=_"poignard"
        type=blade
        range=melee
        damage=4
        number=3
        icon=attacks/dagger-undead.png
    [/attack]
    {RAPIER_SOUND}
    [abilities]
        {ABILITY_MEHTERANE}
    [/abilities]
[/unit_type]
