#textdomain wesnoth-Eastern_Europe_at_War
[unit_type]
    id=ta Segban Scout
    name= _ "Segban Scout"
    race=Tatars
    gender=male
    image="units/Tatars/segban-scout.png"
    ellipse="misc/ellipse"

    hitpoints=47
    movement_type=elusivefoot
    movement=6
    experience=100
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=20
    usage=fighter
    description= _ "."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {EEAW_ANIM_DEFENSE () () {SOUND_LIST:HUMAN_OLD_HIT}}
    [resistance]
        fire=120
        blade=120
    [/resistance]
    [attack]
        name=dagger
        description=_"dagger"
        type=blade
        range=melee
        damage=9
        number=3
        icon=attacks/dagger-undead.png
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack]
        name=bow
        description=_"bow"
        type=pierce
        range=ranged
        damage=11
        number=3
        icon=attacks/bow.png
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    {BOW_SOUND}
    {RAPIER_SOUND}
    [abilities]
        {ABILITY_NIGHTSTALK}
        {ABILITY_AMBUSH}
        {ABILITY_SKIRMISHER}
    [/abilities]
[/unit_type]
