#textdomain wesnoth-Eastern_Europe_at_War
[unit_type]
    id=pl Elite Winged Hussar
    name= _ "Elite Winged Hussar"
    race=Poles
    gender=male
    image="units/Poles/elite-winged-hussar.png"
    ellipse="misc/ellipse"

    hitpoints=65
    movement_type=mounted
    movement=9
    experience=120
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=40
    usage=scout
    description= _ "."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [abilities]
        {ABILITY_FEAR25}
    [/abilities]
    [defense]
        shallow_water=80
        swamp_water=80
        flat=60
        sand=70
        forest=-70
        hills=50
        mountains=70
        village=50
        castle=50
        cave=80
        frozen=80
        fungus=80
    [/defense]
    [resistance]
        pierce=100
        blade=70
        fire=90
        impact=80
        blade=70
    [/resistance]
    {EEAW_ANIM_DEFENSE () () {SOUND_LIST:HUMAN_OLD_HIT}}
    [attack]
        name=lance
        description=_"lance"
        type=pierce
        range=melee
        damage=47
        number=1
        icon=attacks/lance.png
        defense_weight=0
        [specials]
            {WEAPON_SPECIAL_CHARGE}
            {WEAPON_SPECIAL_EEAW_NOCOUNTER}
            {WEAPON_SPECIAL_ATTACKONLY}
        [/specials]
    [/attack]
    [attack]
        name=saber
        description=_"saber"
        type=blade
        range=melee
        damage=17
        number=2
        icon=attacks/saber-human.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
            {WEAPON_SPECIAL_EEAWPRECISION}
        [/specials]
    [/attack]
    [attack]
        name=nadziak
        description=_"horseman's pick"
        type=impact
        range=melee
        damage=7
        number=4
        icon=attacks/pick-axe.png
    [/attack]
    [attack]
        name=pistols
        description=_"pistol"
        type=pierce
        range=ranged
        damage=15
        number=1
        icon=attacks/thunderstick.png
    [/attack]
    {PISTOL_SOUND}
    {LANCE_SOUND}
    {SABER_SOUND}
    {MACE_SOUND}

    [event]
        name=recruit
        first_time_only=no

        [store_unit]
            [filter]
                id=$unit.id
            [/filter]
            variable=unit_store
        [/store_unit]

        {VARIABLE unit.variables.husarzdmg 0}
    [/event]
[/unit_type]
