#textdomain wesnoth-Eastern_Europe_at_War
[unit_type]
    id=au Royal Pandur
    name= _ "Royal Pandur"
    race=Austrians
    gender=male
    image="units/Austrians/royal-pandur.png"
    ellipse="misc/ellipse"

    hitpoints=50
    movement_type=smallfoot
    [movement_costs]
        forest=1
        hills=1
        mountains=2
    [/movement_costs]
    [defense]
        forest=30
        hills=30
        mountains=30
    [/defense]
    movement=6
    experience=100
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=18
    usage=archer
    description= _ "."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {EEAW_ANIM_DEFENSE () () {SOUND_LIST:HUMAN_OLD_HIT}}
    [attack]
        name=musket
        description=_"musket"
        type=pierce
        range=ranged
        damage=21
        number=2
        icon=attacks/thunderstick.png
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack]
        name=musket
        description=_"musket"
        type=pierce
        range=ranged
        damage=40
        number=1
        icon=attacks/thunderstick.png
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [abilities]
        {ABILITY_AMBUSH}
    [/abilities]
    {PISTOL_SOUND}
[/unit_type]
