#textdomain wesnoth-Eastern_Europe_at_War
[unit_type]
    id=sz Shooter
    name= _ "Shooter"
    race=Swedes
    gender=male
    image="units/Swedes/shooter.png"
    ellipse="misc/ellipse"

    hitpoints=30
    movement_type=smallfoot
    movement=5
    experience=40
    level=1
    alignment=neutral
    advances_to=sz Musketeer
    cost=16
    usage=scout
    description= _ "."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {EEAW_ANIM_DEFENSE () () {SOUND_LIST:HUMAN_OLD_HIT}}

    [defense]
        flat=50
        hills=40
        frozen=50
        mountains=50
    [/defense]
    [movement_costs]
        frozen=1
    [/movement_costs]

    [attack]
        name=rapier
        description= _ "rapier"
        type=blade
        range=melee
        damage=4
        number=2
        icon=attacks/saber-human.png
    [/attack]

    [attack]
        name=musket
        description= _ "musket"
        type=pierce
        range=ranged
        damage=10
        number=2
        icon=attacks/thunderstick.png
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=musket
        description= _ "musket"
        type=pierce
        range=ranged
        damage=22
        number=1
        icon=attacks/thunderstick.png
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack]
        name=musket
        description=_"far shot"
        type=pierce
        range=ranged
        damage=4
        number=2
        icon=attacks/thunderstick.png
        [specials]
            {WEAPON_SPECIAL_EEAW_NOCOUNTER}
        [/specials]
    [/attack]
    {PISTOL_SOUND}
    {RAPIER_SOUND}
[/unit_type]
