#textdomain wesnoth-Eastern_Europe_at_War
[unit_type]
    id=kz Great Tabor
    name= _ "Great Tabor"
    race=mechanical
    gender=male
    image="units/Cossacks/great-tabor.png"
    ellipse="misc/ellipse"

    hitpoints=85
    movement_type=armoredfoot
    movement=5
    experience=100
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=28
    usage=mixed fighter
    description= _ "."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {EEAW_ANIM_DEFENSE () () {SOUND_LIST:HUMAN_OLD_HIT}}
    [attack]
        name=spears
        description=_"spears"
        type=pierce
        range=melee
        damage=12
        number=4
        icon=attacks/javelin-orcish.png
    [/attack]
    [attack]
        name=rifles
        description=_"rifles"
        type=pierce
        range=ranged
        damage=9
        number=4
        icon=attacks/thunderstick.png
    [/attack]
    {PISTOL_SOUND}
    {SPEAR_SOUND}
    [defense]
        swamp_water=80
        shallow_water=80
    [/defense]
    [resistance]
        blade=80
        pierce=50
        impact=120
        fire=120
    [/resistance]
    [abilities]
        {ABILITY_TABOR3}
    [/abilities]
[/unit_type]
