#textdomain wesnoth-Eastern_Europe_at_War

#define TRAIT_DRUNK
    # Units with trait Drunk are slower (-1 movepoints) but are more resistant to pain (+20% resistance to all damage types), fight better at close range (+1 to melee) combat but have trouble aiming rifles and bows (-1 to ranged).
    [trait]
        id=drunk
        male_name= _ "drunk"
        female_name= _ "female^drunk"
        [effect]
            description= _ "+1 damage to melee weapons, -1 damage to ranged weapons, +20% to all resistances, -1 movepoints."
            apply_to=attack
            range=melee
            increase_damage=1
        [/effect]
        [effect]
            apply_to=attack
            range=ranged
            increase_accuracy=-10
        [/effect]
        [effect]
            apply_to=movement
            increase=-1
        [/effect]
        [effect]
            apply_to=resistance
            replace=no
            [resistance]
                blade=20
                pierce=20
                impact=20
                fire=20
                cold=20
                arcane=20
            [/resistance]
        [/effect]
        [effect]
            apply_to=halo
            halo="overlays/drunk1.png:250,overlays/drunk2.png:250,overlays/drunk3.png:250"
        [/effect]
    [/trait]
#enddef

#define TRAIT_AGILE
    # Units with trait Agile are harder to hit (+10% to defense and chance to hit).
    [trait]
        id=agile
        male_name= _ "agile"
        female_name= _ "female^agile"
        description= _ "+5% covers everywhere."
        [effect]
            apply_to=defense
            replace=no
            [defense]
                shallow_water=-5
                reef=-5
                swamp_water=-5
                flat=-5
                sand=-5
                forest=-5
                hills=-5
                mountains=-5
                village=-5
                castle=-5
                cave=-5
                frozen=-5
                fungus=-5
            [/defense]
        [/effect]
    [/trait]
#enddef

#define TRAIT_SKILLED
    # Units with trait skilled are trained to fight better, which results in higher chance to hit (+5%).
    [trait]
        id=skilled
        male_name= _ "skilled"
        female_name= _ "female^skilled"
        description= _ "+5% chance to hit."
        [effect]
            apply_to=attack
            increase_accuracy=5
        [/effect]
    [/trait]
#enddef

#define TRAIT_FIERCE
    # Units with trait fierce are furious fighters, which results in higher damage (+1) when attacking.
    [trait]
        id=fierce
        male_name= _ "fierce"
        female_name= _ "female^fierce"
        description= _ "+1 damage on offense."
        [effect]
            apply_to=attack
            [set_specials]
                mode=append
                {WEAPON_SPECIAL_EEAW_FIERCE}
            [/set_specials]
        [/effect]
    [/trait]
#enddef

#define TRAIT_COLONIAL
    # Units with trait Colonial heal +4 hp every turn, fix mechanical units and have better defense when on stand or in forest.
    [trait]
        id=colonial
        male_name= _ "colonial"
        female_name= _ "female^colonial"
        description= _ "Heals +4, repairs +4, sand and forest defense +10%"
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_EEAW_COLONIAL}
            [/abilities]
        [/effect]
        [effect]
            apply_to=defense
            replace=no
            [defense]
                forest=-20
                sand=-20
            [/defense]
        [/effect]
    [/trait]
#enddef

#define TRAIT_COLONIAL_MUSTHAVE
    # Units with trait Colonial heal +4 hp every turn.
    [trait]
        id=colonial_musthave
        availability="musthave"
        male_name= _ "colonial"
        female_name= _ "female^colonial"
        description= _ "Heals +4, repairs +4, sand and forest defense +10%"
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_EEAW_COLONIAL}
            [/abilities]
        [/effect]
        [effect]
            apply_to=defense
            replace=no
            [defense]
                forest=-20
                sand=-20
            [/defense]
        [/effect]
    [/trait]
#enddef

[race]
    id=Turks
    male_name= _ "race^Turk"
    female_name= _ "race+female^Turk"
    plural_name= _ "race^Turks"
    description= ""	# wmllint: ignore
    num_traits=2
    markov_chain_size=10
    #{TRAIT_FIERCE}
    male_names= _ "Celal,Cemal,Cem,Fatih,Ferhan,Feridun,Mahmut,Murat,Mustafa,Mehmet,Melih,Ali,Adem,Ahmet,Altan,Aytunc,Bilgehan,Barys,Ozkan,Osman,Orhan,Ismet,Ibrahim,Ismail,Hakan,Kemal,Kenan,Kamil,Selami,Sener,Rafet,Tahir,Yasar,Yasin,Yusuf,Emre,Gokhan,Alp,Altun,Aydin,Aydogan,Aytash,Baibars,Bairak,Batur,Boga,Bora,Demir,Efendi,Erol,Tarkan"
    female_names= _ "Celal,Cemal,Cem,Fatih,Ferhan,Feridun,Mahmut,Murat,Mustafa,Mehmet,Melih,Ali,Adem,Ahmet,Altan,Aytunc,Bilgehan,Barys,Ozkan,Osman,Orhan,Ismet,Ibrahim,Ismail,Hakan,Kemal,Kenan,Kamil,Selami,Sener,Rafet,Tahir,Yasar,Yasin,Yusuf,Emre,Gokhan"
[/race]

[race]
    id=Poles
    male_name= _ "race^Polish-Lithuanian"
    female_name= _ "race+female^Polish-Lithuanian"
    plural_name= _ "race^Polish-Lithuanian"
    description= ""	# wmllint: ignore
    num_traits=2
    markov_chain_size=10
    male_names= _ "Boleslaw,Bozydar,Boguslaw,Broslaw,Dobroslaw,Gniewomir,Jaroslaw,Kazimierz,Lechoslaw,Lubomir,Lutomir,Mieczyslaw,Mscislaw,Wojciech,Zawisza,Zbyslaw,Zdzislaw,Antoni,Adam,Jan,Mateusz,Bartlomiej,Maciej,Juliusz,Mikolaj,Tomasz,Bogdan,Kacper,Krystian,Bogumil,Bytomir,Krzysztof,Piotr,Lukasz,Zbigniew,Aivaras,Algis,Andrus,Antanas,Gedeminas,Gintaras,Jonas,Juozas,Vytautas,Nerijus,Evaldas,Saulius"
    female_names= _ "Boleslaw,Bozydar,Boguslaw,Broslaw,Ciecierad,Cieszimir,Dobroslaw,Gniewomir,Jaroslaw,Kazimierz,Lechoslaw,Lubomir,Lutomir,Mieczyslaw,Milobor,Mscibor,Mscislaw,Pomscibor,Radowuj,Rzedzimir,Samomir,Trzebor,Ubyslaw,Unierad,Uniemysl,Witomysl,Wojciech,Wolislaw,Wyszemir,Wyslaw,Zawisza,Zbyslaw,Zdzislaw"
[/race]

[race]
    id=Cossacks
    male_name= _ "race^Cossack"
    female_name= _ "race+female^Cossack"
    plural_name= _ "race^Cossacks"
    description= ""	# wmllint: ignore
    num_traits=2
    markov_chain_size=10
    #{TRAIT_DRUNK}
    male_names= _ "Andrij,Antem,Bogdan,Dymitr,Gnat,Giorgij,Iwan,Cyryl,Lew,Oleg,Oleksandr,Roman,Stanislaw,Vadyn,Vladislaw,Volodimir,Jan,Jurij"
    female_names= _ "Andrij,Antem,Bogdan,Dymitr,Gnat,Giorgij,Iwan,Cyryl,Lew,Oleg,Oleksandr,Roman,Stanislaw,Vadyn,Vladislaw,Volodimir,Jan,Jurij"
[/race]

[race]
    id=Tatars
    male_name= _ "race^Tatar"
    female_name= _ "race+female^Tatar"
    plural_name= _ "race^Tatars"
    description= ""	# wmllint: ignore
    num_traits=2
    markov_chain_size=10
    #{TRAIT_AGILE}
    male_names= _ "Baithansaikhan,Bat,Bataar,Batukhan,Bold,Chuulun,Kushi,Naaranbatar,Sukhbatar,Sukh,Karim,Selim,Osman,Ilfak,Rinat,Musa,Galim,Aglikamal,Alyparslan,Ilshat,Tuigun,Ilgiz"
    female_names= _ "Baithansaikhan,Bat,Bataar,Batukhan,Bold,Chuulun,Kushi,Naaranbatar,Sukhbatar,Sukh"
[/race]

[race]
    id=Swedes
    male_name= _ "race^Swede"
    female_name= _ "race+female^Swede"
    plural_name= _ "race^Swedes"
    description= ""	# wmllint: ignore
    num_traits=2
    markov_chain_size=10
    #{TRAIT_SKILLED}
    male_names= _ "Alexander,Anders,Ake,Berk,Bjorn,Christian,Erik,Finn,Georg,Gustav,Herman,Jakob,Jonatan,Klemens,Mikael,Olle,Oskar,Patrik,Petter,Rudolf,Sigvard,Sten,Sven,Thomas,Ulrik,Victor,Aaron,Acke,Albert,Alfred,Alfons,Alrik,Ansgar,Arne,Arnold,Arthur,Arvid,August,Axel,Asbjörn,Bernt,Bertil,Bjarne,Bosse,B�rje,Calle,Carl,Crister,Ebbe,Einar,Erling,Eskil,Eugen,Evert,Enok,Enar,Elov,Elof,Folke,Frej,Fridtjof,Frans,Felix,Gottfrid,Gotthard,Greger,G�ran,Gunnar,Halvar,Hampus,Hans,Hakon,Hendrik,Henning,Helmer,Harald,Inge,Ingemar,Ingolf,Ingvar,Isak,Ivar,Jan,Jarl,Jerker,Joel,Justus,Joseph,J�rgen,Kjell,Knut,Knud,Konstantin,Lasse,Ludvig,Lukas,Lauritz,Lars,Magnus,Mattis,Marcus,Manfred,Mikkel,Malkolm,Nils,Olaf,Olav,Olle,Oluf,Otto,Ove,Orvar,Peder,Pontus,Poul,Ragnar,Roald,Rasmus,Rurik,Rutger,Samson,Saul,Set,S�ren,Sigismund,Sigmund,Tage,Tor,Tomas,Thor,Thorbj�rn,Torvald,Torkel,Tore,Theodor,Urbanm Ulf,Vidar,Valfrid,Vincent,Yngwe,�rjan"
    female_names= _ "Alexander,Anders,Ake,Berk,Bjorn,Christian,Erik,Finn,Georg,Gustav,Herman,Jakob,Jonatan,Klemens,Mikael,Olle,Oskar,Patrik,Petter,Rudolf,Sigvard,Sten,Sven,Thomas,Ulrik,Victor"
[/race]

[race]
    id=Russians
    male_name= _ "race^Russian"
    female_name= _ "race+female^Russian"
    plural_name= _ "race^Russians"
    description= ""	# wmllint: ignore
    num_traits=2
    markov_chain_size=10
    male_names= _ "Andrij,Antem,Bogdan,Dymitr,Gnat,Giorgij,Iwan,Cyryl,Lew,Oleg,Oleksandr,Roman,Stanislaw,Vadyn,Vladislaw,Volodimir,Jan,Jurij,Aleksander,Aleks,Kostia,Leonid,Stiepan,Igor,Fiodor,Grigorij,Wiaczeslaw,Borys"
    female_names= _ "Andrij,Antem,Bogdan,Dymitr,Gnat,Giorgij,Iwan,Cyryl,Lew,Oleg,Oleksandr,Roman,Stanislaw,Vadyn,Vladislaw,Volodimir,Jan,Jurij"
[/race]

[race]
    id=Austrians
    male_name= _ "race^Austrian"
    female_name= _ "race+female^Austrian"
    plural_name= _ "race^Austrians"
    description= ""	# wmllint: ignore
    num_traits=2
    markov_chain_size=10
    male_names= _ "Alexander,Amadeus,Bernard,Bruno,Erwin,Fabian,Florian,Franz,Isidor,Johann,Julian,Karl,Klemens,Leopold,Ludwig,Matias,Sebastian,�bel,Benedek,Ervin,Ferdinand,Gabor,Gergely,Norbert,Rudolf,Adolf,Artur,Bohuslav,Dalimir,Emil,Eugen,Libor,Lubomir,Marek,Martin,Maximilian,Milan,Otakar,Pavel,Petr,Radoslav,Samuel,Stanislav,Vaclav,Vladan,Zdenko,Sigmund,Albrecht,Hans,Paul,Otto,Andreas,Julius,Uwe,Leon,Christian,J�rg,J�rgen,Ralf,Walter,Hermann,Wilhelm,Heinrich,Ernst,Karl,Friedrich,Konrad"
    female_names= _ "Alexander,Amadeus,Bernard,Bruno,Erwin,Fabian,Florian,Franz,Isidor,Johann,Julian,Karl,Klemens,Leopold,Ludwig,Matias,Sebastian"
[/race]

[race]
    id=Prussians
    male_name= _ "race^Prussian"
    female_name= _ "race+female^Prussian"
    plural_name= _ "race^Prussians"
    description= ""	# wmllint: ignore
    num_traits=2
    markov_chain_size=10
    {TRAIT_COLONIAL}
    male_names= _ "Adolf,Alexander,Anton,August,Benedikt,Benno,Bernd,Bruno,Carl,Carsten,Christian,Detlef,Dietmar,Emil,Erik,Erich,Erwin,Florian,Frederik,Friedrich,Gabriel,Georg,Gregor,G�nter,Hans,Harald,Hartmut,Hasso,Heinrich,Heinz,Henri,Henrik,Herbert,Horst,Hubert,Immanuel,Ingolf,Jakob,Jan,Jason,Jens,Johann,Johannes,J�rg,Julian,Julius,J�rgen,Karl,Klaus,Klemens,Konrad,Lars,Leo,Ludwig,Manfred,Maximilian,Niklas,Oskar,Otto,Paul,Peter,Philip,Sebastian,Steffen,Thomas,Tim,Udo,Ulrich,Uwe,Veit,Viktor,Walter,Wilhelm"
    female_names= _ "Adolf,Alexander,Anton,August,Benedikt,Benno,Bernd,Bruno,Carl,Carsten,Christian,Detlef,Dietmar,Emil,Erik,Erich,Erwin,Florian,Frederik,Friedrich,Gabriel,Georg,Gregor,G�nter,Hans,Harald,Hartmut,Hasso,Heinrich,Heinz,Henri,Henrik,Herbert,Horst,Hubert,Immanuel,Ingolf,Jakob,Jan,Jason,Jens,Johann,Johannes,J�rg,Julian,Julius,J�rgen,Karl,Klaus,Klemens,Konrad,Lars,Leo,Ludwig,Manfred,Maximilian,Niklas,Oskar,Otto,Paul,Peter,Philip,Sebastian,Steffen,Thomas,Tim,Udo,Ulrich,Uwe,Veit,Viktor,Walter,Wilhelm"
[/race]

[race]
    id=eeawship
    name= _ "race^Ship"
    plural_name= _ "race+plural^Ship"
    description= _ "Ship"
    num_traits=1
    ignore_global_traits=yes
    {TRAIT_MECHANICAL}
[/race]
